@CHARSET "ISO-8859-1";
.game-result-wrapper {
	text-align: center;
    margin: 20px auto;
    width: 680px;
}
.game-result {
	padding: 10px;
    margin: 10px;
    border: 1px solid #2f7fe3;
    text-align: left !important;
    border-radius: 6px;
    height: 125px;
    box-shadow: 0px 0px 0px 3px #2F7FE3;
    margin-bottom: 20px;
    overflow: hidden;
}
.game-cover {
	text-align: center;
    padding-right: 10px;
    float: left;
}
.game-title {
	margin-top: 10px;
    margin: 0px;
}
.game-title-link {
	color: black;
	text-decoration: none;
}
.game-description {
	text-align: justify;
}
.game-release {
	float: right;
    background-color: orange;
    padding: 6px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}