@CHARSET "ISO-8859-1";
.game-result-wrapper {
	text-align: center;
    margin: 20px auto;
    width: 680px;
}
.game-result {
	padding: 10px;
    margin: 10px;
    text-align: left !important;
    border-radius: 6px;
    height: auto;
    box-shadow: 1px 1px 2px 2px darkslateblue;
    margin-bottom: 20px;
    overflow: hidden;
    display: inline-block;
}
.game-cover {
	text-align: center;
    padding-right: 10px;
    float: left;
}
.game-title {
	margin-top: 10px;
    margin: 0px;
    padding-right: 10px
}
.game-quantity {
    border-left: 2px solid darkslateblue;
    padding-left: 10px;
}
.game-title-link {
	color: black;
	text-decoration: none;
}
.game-description {
	text-align: justify;
}
.game-release {
	float: right;
    background-color: orange;
    padding: 6px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.game-release-price {
	float: right;
    background-color: green;
    padding: 6px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}
.game-release-discount {
	float: right;
    background-color: red;
    padding: 6px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}