@CHARSET "ISO-8859-1";
.tabs {
    width:100%;
    display:inline-block;
    margin-top: 20px;
}
.tab-links:after {
    display:block;
    clear:both;
    content:'';
} 
.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}
.tab-links a {
    padding: 0 0 1px 0;
    display: table-cell;
    border-radius: 5px;
    background: #2b3ab3;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: all linear 0.15s;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    min-width: 5em;
    outline: none;
    text-decoration: none;
}
.tab-links a:hover {
    background:orange;
    text-decoration:none;
}
li.active a, li.active a:hover {
    background: #3fa9f5;
    text-decoration: none;
    transition-delay: 2s;
}
.tab-content {
    padding: 0px 0px 0px 40px;
}
.tab {
    display:none;
}
.tab.active {
    display:block;
}
.user-info, .user-addr {
	border-right: none;
    display: inline;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #45aaf2;
    font-family: lato;
    font-weight: 300;
    font-size: 22px;
    padding-left: 0;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
}
#credit-input {
	border-right: none;
    display: inline;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #45aaf2;
    font-family: lato !important;
    font-weight: 300;
    font-size: 22px;
    padding-left: 0;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
}
.submit-button {
	background: orange;
    outline: none;
    border: none;
}
.submit-button:hover, .submit-button:focus, .submit-button:active .submit-button:visited {
	background: green;
	outline: none;
	border: none;
}
.signup {
	margin: 0 auto;
    max-width: 400px;
    position: relative;
    border: none;
    padding: 10px;
}