<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mrGamingStore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>passwordChange.jsp</welcome-file>
    <welcome-file>addGame.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>controller.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/GameServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DiscountsServlet</display-name>
    <servlet-name>DiscountsServlet</servlet-name>
    <servlet-class>controller.DiscountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountsServlet</servlet-name>
    <url-pattern>/DiscountsServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>passwordChangeServlet</display-name>
    <servlet-name>passwordChangeServlet</servlet-name>
    <servlet-class>controller.passwordChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordChangeServlet</servlet-name>
    <url-pattern>/passwordChangeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddToFavouriteServlet</display-name>
    <servlet-name>AddToFavouriteServlet</servlet-name>
    <servlet-class>controller.AddToFavouriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavouriteServlet</servlet-name>
    <url-pattern>/AddToFavouriteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FavouriteServlet</display-name>
    <servlet-name>FavouriteServlet</servlet-name>
    <servlet-class>controller.FavouriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavouriteServlet</servlet-name>
    <url-pattern>/FavouriteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoadProfileServlet</display-name>
    <servlet-name>LoadProfileServlet</servlet-name>
    <servlet-class>controller.LoadProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProfileServlet</servlet-name>
    <url-pattern>/LoadProfileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>updateProfileServlet</display-name>
    <servlet-name>updateProfileServlet</servlet-name>
    <servlet-class>controller.updateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfileServlet</servlet-name>
    <url-pattern>/updateProfileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>InventoryPageServlet</display-name>
    <servlet-name>InventoryPageServlet</servlet-name>
    <servlet-class>controller.InventoryPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryPageServlet</servlet-name>
    <url-pattern>/InventoryPageServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UserTrackerServlet</display-name>
    <servlet-name>UserTrackerServlet</servlet-name>
    <servlet-class>controller.UserTrackerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTrackerServlet</servlet-name>
    <url-pattern>/UserTrackerServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>AddGameServlet</display-name>
    <servlet-name>AddGameServlet</servlet-name>
    <servlet-class>controller.AddGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameServlet</servlet-name>
    <url-pattern>/AddGameServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>loadGameServlet</display-name>
    <servlet-name>loadGameServlet</servlet-name>
    <servlet-class>controller.loadGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadGameServlet</servlet-name>
    <url-pattern>/loadGameServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>UpdateGameServlet</display-name>
    <servlet-name>UpdateGameServlet</servlet-name>
    <servlet-class>controller.UpdateGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGameServlet</servlet-name>
    <url-pattern>/UpdateGameServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>RemoveCartServlet</display-name>
    <servlet-name>RemoveCartServlet</servlet-name>
    <servlet-class>controller.RemoveCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartServlet</servlet-name>
    <url-pattern>/RemoveCartServlet</url-pattern>
  </servlet-mapping>
</web-app>